header {
	border-bottom: 1% solid;
	overflow: hidden;
}

h1 {
	float: left;
	margin: 0%;
	font-family: Futura, sans-serif;
	font-weight: bolder;
	font-size: 6em;
	text-align: center;
	color: white;
}


body {
	font-family: Futura, sans-serif;
	background-image: url("images/colores.jpg");
  	background-repeat: no-repeat;
  	background-position: center top;
}

nav {
	text-align: center;
	margin: 0%;
	text-decoration: none;
}

nav li {
	text-align: center;
	margin: 0%;
	font-size: 0.5em;
	display: inline-block;

}

li {
  display: inline;
  padding: 5px;
}



